@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}

/* Стили для карты */
.map-container {
  background-color: #000000;
}

/* Кастомный скроллбар */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1b1c1f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 1023px) {
  .mobile-container {
    width: 390px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Кастомное поведение для max-lg:flex-col */
@media not (min-width: 64rem) {
  .max-lg\:flex-col {
    flex-direction: row;
  }
  .max-lg\:px-5 {
    padding-inline: 0;
  }
}
